@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  overflow-y: auto;
}
